@media (max-width: 1200px) {
    .titleContainer {
        width: 65%;
    }
    h1.preSubmitted {
        font-size: 8rem;
    }

    h1.submitted {
        font-size: 3rem;
    }

    form.submitted button {
        flex: 1 0 calc(10% - 15px);
        font-size: 1.6rem;
    }
}

@media (max-width: 1000px) {
    h1.submitted {
        display:none;
    }
}
 
@media (max-width: 850px) {
    .titleContainer {
         width: 100%;
    }

    .headerContainer {
        align-items: center;
    }

    input {
        text-align: center;
    }

    header.preSubmitted {
        background-image: none;
        background: rgb(233, 194, 53);
    }
    
}



@media (max-width: 770px) {
    .headerContainer.preSubmitted{
        flex-direction: column;
        padding-top: 100px;
        justify-content: flex-start;
        min-height: 750px;
    }


    .headerContainer.submitted {
        padding-top: 15px;
        justify-content: center;
        min-height: 0;
    }

    .logoContainer {
        width: 25%;
    }

    .logoContainer.submitted {
        display: none;
    }

    .titleContainer {
        text-align: center;
    }

    h1.preSubmitted {
        font-size: 6rem;
    }

    form {
        text-align: center;
        margin: 0 auto;
        width: auto;
    }
    ::placeholder {
        text-align: center;
    }

    ////////////////
    // MOVIE INFO //
    ////////////////

    .movieInfo .moviePoster {
        display: none;
    }   

    .moviePosterInsideText {
        display: block;
        float: left;
        width: 45%;
        padding-right: 20px;
    }   

    .movieTextInfo {
        padding-left: 0;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .headerContainer{
        padding-top: 100px;
        // height: auto;
    }
    
    form.submitted {
        align-items: stretch;
        width: 100%;
    }
    
    form.submitted input {
        height: 35px;
        font-size: 1.6rem;

    }
    form.submitted button {
        flex: 1 0 calc(50% - 15px);
        height: 40px;
    }

    .titleContainer.submitted {
        flex-direction: column;
    }

    header.submitted {
        height: 140px;
    }
    
    ////////////////
    // MOVIE INFO //
    ////////////////

    .prodCountriesSection {
        width: 100%;
        padding-left: 0;
    }

    .prodCountries {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .voteAverageDivOuter {
        margin: 0 auto;
    }

    h2, h3 {
        text-align: center;
    }
}

@media (max-width: 450px) {
    h1.preSubmitted {
        font-size: 4rem;
    }
    #noMovies {
        font-size: 1.2rem;
        padding: 0;
    }
    .headerContainer.preSubmitted {
        min-height: 600px;
    }

    .headerContainer.submitted {
        min-height: 0;
    }
    
    ////////////////
    // MOVIE INFO //
    ////////////////
    .moviePosterInsideText {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
    }   



    
}

@media (max-width: 380px) {
    .titleContainer label {
        font-size: 1.6rem;
    }

    form.preSubmitted {
        width: 75%;
    }

    form.preSubmitted input {
        font-size: 1.2rem;
    }
}