@import 'setup';

body {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Bungee', sans-serif;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1280px;
}

header {
	height: 100vh;
	background-image: url(../../public/styles/assets/movieBackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

header.submitted {
	height: 20vh;
}

.titleContainer {
	// height: 100vh;
	width: 50%;
	display: flex;
	flex-direction: column;
}

.titleContainer.submitted {
	height: 10vh;
	flex-direction: row;
	width: 100%;
}

h1.preSubmitted {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 10rem;
	flex: 1 0 50%;
	height: 200px;
	width: 80%;
	
}

h1.submitted {
	font-size: 3rem;
	flex: 1 0 30%;
}

form {
	// flex: 1 0 50%;
	width: 80%;
	// height: 30vh;
}

form label {
	width: 100%;
	font-size: 2rem;
}

form input {
	width: 100%;
	height: 50px;
	font-family: "Bungee", sans-serif;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	border-bottom: 1px solid black;
	// background-color: #565656;
  	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	margin-bottom: 10px;
}

button {
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	width: 45%;
	padding: 10px;
	display: inline-block;
	background: #FABC09;

}

#noMovies {
	color: red;
	font-size: 1.6rem;
}

//styles for map container
#map {
	height: 500px;
	border: 1px solid black;
	width: 65%;
}

#movieInfo {
	width: 20%;
}

.movieResults {
	display: flex;
	height: 80vh;
}

.posterContainer {
	width: 60%;
	margin: 0 auto;
}



// <a href='https://www.freepik.com/free-photo/opened-clapperboard-on-white-table_1437373.htm'>Designed by Freepik</a>

//get font info 