@import 'setup';
@import 'utils';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}

h1, h2, h3 {
	font-family: 'Bungee', sans-serif;
}

h2 {
	font-size: 3.5rem;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: $wrapperMaxWidth;
	width: $wrapperWidth;
	margin: 0 auto;
}

.headerContainer {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.headerContainer.submitted {
	height: 15vh;
}

header {

	// background-image: url(../../public/styles/assets/yellowBackground.jpg);
	background: rgb(233, 194, 53);
	// background-image: url(../../public/styles/assets/cameraWithBgGradient.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: -50%;
}

header.submitted {
	height: 15vh;
	background: rgb(233, 194, 53);

}

.titleContainer {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.titleContainer.submitted {
	height: 10vh;
	flex-direction: row;
	width: 100%;
	align-items: center;
}

h1.preSubmitted {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 10rem;
	flex: 1 0 50%;
	font-family: 'Bungee Shade';
	// color: white;
}

h1.submitted {
	font-size: 4rem;
	flex: 1 0 25%;
	align-self: center;
}


// Main - Movie Result Section

ul {
	list-style: none;
}

main {
	background: white;
	margin: 50px 0 0 0;
}
form {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

form.submitted {
	flex: 1 0 75%;
	align-items: center;
}

form label {
	width: 100%;
	font-size: 2rem;
}

form label.submitted {
	display: none;
}

form input {
	flex: 1 0 100%;
	height: 50px;
	font-family: "Bungee", sans-serif;
	font-size: 2rem;
	background: rgba(0, 0, 0, 0.5);
	border: 0;
	border-bottom: 1px solid black;
  	// color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
	margin-bottom: 10px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 0, 0, 0.4);
    opacity: 1; /* Firefox */
}

form.submitted input {
	flex: 1 0 50%;
	margin-bottom: 0;
}

button {
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 2rem;
	flex: 1 0 calc(50% - 10px);
	margin: 5px;
	display: inline-block;
	background:  rgba(255, 255, 255, 0.7);
}

form.submitted button {
	flex: 1 0 calc(25% - 15px);
	margin-left: 10px;
	
}

#noMovies {
	color: red;
	font-size: 1.6rem;
}

form.submitted #noMovies {
	order: 2;
	margin: 0;
}


.movieResults {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.movieInfo {
	width: 100%;
	display: flex;
}

.prodCountriesHeader {
	font-family: 'Bungee', sans-serif;
}

.prodCountry {
	font-family: 'Roboto', sans-serif;
	margin: 5px 0;
}

.prodCountry::before {
	content: "\f57d";
	font-family: "Font Awesome 5 Free";
	font-weight: 800;
	padding-right: 8px;
	font-size: 1.6rem;
}

//styles for map container
.map {
	height: 500px;
	border: 1px solid black;
	width: $wrapperWidth;
	max-width: $wrapperMaxWidth;
	margin: 30px auto;
}

.moviePoster {
	width: 30%;
}

.movieTextInfo {
	width: 70%;
	padding: 0 0 0 50px ;
}

@import 'mediaQueries';

// <a href='https://www.freepik.com/free-photo/opened-clapperboard-on-white-table_1437373.htm'>Designed by Freepik</a>

//get font info 