article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; }

h1, h2, h3 {
  font-family: 'Bungee', sans-serif; }

h2 {
  font-size: 3.5rem; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

.headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.headerContainer.submitted {
  height: 15vh; }

header {
  background: #e9c235;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: -50%; }

header.submitted {
  min-height: 15vh;
  background: #e9c235; }

.titleContainer {
  width: 50%;
  display: flex;
  flex-direction: column; }

.titleContainer.submitted {
  height: 10vh;
  flex-direction: row;
  width: 100%;
  align-items: center; }

.logoContainer.submitted {
  width: 150px;
  padding-top: 15px; }

h1.preSubmitted {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 10rem;
  flex: 1 0 50%;
  font-family: 'Bungee Shade'; }

h1.submitted {
  font-size: 4rem;
  flex: 1 0 25%;
  align-self: center; }

ul {
  list-style: none; }

main.submitted {
  position: relative;
  background: white;
  padding: 50px 0 0 0;
  z-index: 1; }

form {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

form.submitted {
  flex: 1 0 75%;
  align-items: center; }

form label {
  width: 100%;
  font-size: 2rem; }

form label.submitted {
  display: none; }

form input {
  flex: 1 0 100%;
  height: 50px;
  font-family: "Bungee", sans-serif;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  border-bottom: 1px solid black;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  margin-bottom: 5px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  /* Firefox */ }

form.submitted input {
  flex: 1 0 50%;
  margin-bottom: 0; }

button {
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  flex: 1 0 calc(50% - 10px);
  margin: 5px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.7); }

form.submitted button {
  flex: 1 0 calc(25% - 15px);
  margin-left: 10px; }

#noMovies {
  color: red;
  font-size: 1.6rem;
  padding: 10px 0; }

form.submitted #noMovies {
  order: 2;
  margin-bottom: 5px; }

.movieResults {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

.movieInfo {
  width: 100%;
  display: flex; }

.tagline {
  background: #f0f0f0;
  padding: 25px;
  margin: 25px;
  position: relative;
  z-index: 2;
  font-style: italic;
  font-weight: bold; }

.tagline::before {
  content: "\f10d";
  top: -20px;
  left: -25px; }

.tagline::after {
  content: "\f10e";
  bottom: -20px;
  right: -25px; }

.tagline::before,
.tagline::after {
  position: absolute;
  font-size: 2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  background: #e9c235;
  border-radius: 50%;
  padding: 10px;
  z-index: 1;
  height: 25px;
  width: 25px;
  text-align: center;
  font-style: normal; }

.prodCountriesHeader {
  font-family: 'Bungee', sans-serif; }

.prodCountry {
  font-family: 'Roboto', sans-serif;
  margin: 5px 0; }

.prodCountry::before {
  content: "\f57d";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  padding-right: 8px;
  font-size: 1.6rem; }

.voteAverageDiv {
  background: #e9c235;
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center; }

.voteAverageDiv p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Bungee', sans-serif;
  font-size: 3rem; }

.outerMap {
  position: relative; }

.mapCover {
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent; }

.map {
  height: 500px;
  height: 70vh;
  border: 1px solid black;
  width: 90%;
  max-width: 1280px;
  margin: 30px auto;
  position: absolute;
  top: 0;
  z-index: -1; }

.map.submitted {
  position: relative;
  z-index: 20; }

.moviePoster {
  width: 20%; }

.movieTextInfo {
  width: 80%;
  padding: 0 0 0 50px;
  display: flex;
  flex-wrap: wrap; }

.titleDescription {
  width: 100%;
  margin-bottom: 10px; }

.voteAverageDivOuter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column; }

.taglineDiv {
  width: 100%; }

.prodCountriesSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 10%;
  width: 50%;
  flex-grow: 1; }

.prodCountriesSection h3 {
  width: 100%;
  display: flex;
  display: inline-block; }

.infoTitle {
  margin: 20px 0 15px 0; }

h2.infoTitle {
  margin-top: 0; }

@media (max-width: 1200px) {
  .titleContainer {
    width: 65%; }
  h1.preSubmitted {
    font-size: 8rem; }
  h1.submitted {
    font-size: 3rem; }
  form.submitted button {
    flex: 1 0 calc(10% - 15px);
    font-size: 1.6rem; } }

@media (max-width: 1000px) {
  h1.submitted {
    display: none; } }

@media (max-width: 850px) {
  .titleContainer {
    width: 100%; }
  .headerContainer {
    align-items: center; }
  input {
    text-align: center; }
  header.preSubmitted {
    background-image: none;
    background: #e9c235; } }

@media (max-width: 750px) {
  .headerContainer {
    flex-direction: column; }
  .logoContainer {
    width: 50%; }
  .logoContainer.submitted {
    display: none; }
  .titleContainer {
    text-align: center; }
  h1.preSubmitted {
    font-size: 6rem; }
  form {
    text-align: center;
    margin: 0 auto;
    width: auto; }
  ::placeholder {
    text-align: center; } }

@media (max-width: 600px) {
  form.submitted {
    align-items: stretch;
    width: 100%; }
  form.submitted input {
    height: 35px;
    font-size: 1.6rem; }
  form.submitted button {
    flex: 1 0 calc(50% - 15px);
    height: 40px; }
  .titleContainer.submitted {
    flex-direction: column; }
  header.submitted {
    height: 20vh; } }

@media (max-width: 450px) {
  h1.preSubmitted {
    font-size: 4rem; }
  #noMovies {
    font-size: 1.2rem;
    padding: 0; } }

@media (max-width: 380px) {
  .titleContainer label {
    font-size: 1.6rem; }
  form.preSubmitted {
    width: 75%; }
  form.preSubmitted input {
    font-size: 1.2rem; } }
